@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font-family */
@font-face {
    font-family: Satoshi;
    src: url("/assets/fonts/Satoshi-Variable.ttf");
}

/* Loading page */
.loading-page {
    @apply w-full h-screen flex flex-col justify-center items-center;
}
.loading-page.dark-mode {
    background: #282f3e;
    color: #dcdcdc;
}
.loading-page .iconify {
    display: none;
}
.loading-page.light-mode .loading-light {
    display: block;
}
.loading-page.light-mode .loading-dark {
    display: none;
}
.loading-page.dark-mode .loading-light {
    display: none;
}
.loading-page.dark-mode .loading-dark {
    display: block;
}

/* Background */
.background-page {
    background: #f4f4f4;
    @apply w-full h-screen font-satoshi font-normal;
}
/* Dark mode options */
.background-page.dark-mode {
    background: #161B27;
    color: white;
}

/* Header */
header {
    height: 110px;
    @apply w-full bg-white pr-9 flex items-center justify-between;
}
/* Dark mode options */
.background-page.dark-mode header {
    background: #1D222D;
    color: white;
}

/* Logotype */
.logo {
    height: 110px;
    @apply flex justify-start items-center gap-3.5 relative pl-9 mr-16;
}
.logo img {
    width: 42px;
}
.logo span {
    font-size: 25px;
}

/* Current location */
.current-location {
    @apply flex items-end;
    gap: 6px;
}
.current-location .iconify {
    @apply text-blue-500;
}
.current-location span {
    font-size: 18px;
    opacity: .9;
}

/* Search */
.search {
    width: 400px;
    margin-right: 20px;
    position: relative;
}
.search input {
    width: 100%;
    height: 50px;

    border-radius: 24px;
    border: 1px solid #d6d6d6;
    background: transparent;

    padding: 0 66px;
    margin: 30px 0;

    font-size: 15.5px;
}
.search input:focus {
    @apply outline-none border-blue-400;
}
.search-input:focus + .icon-wrapper .iconify {
    @apply text-blue-400;
}
.icon-wrapper {
    height: 20px;
    @apply absolute left-0 top-1/2 -translate-y-1/2 ml-9;
}
.icon-wrapper .iconify {
    color: #aaadb8;
}
.search-result {
    @apply w-full absolute top-0 left-0 rounded-2xl z-10;

    border: 1px solid #d6d6d6;
    background: #fbfbfb;

    margin-top: 90px;
    padding: 10px 24px 5px;

    max-height: 290px;
    overflow-y: auto;
}
/* Dark mode options */
.background-page.dark-mode .search-result {
    background: #252b39;
    border-color: rgba(255, 255, 255, 0.18);
}
.search-result::-webkit-scrollbar {
    width: 5px;
}
.search-result::-webkit-scrollbar-track
{
    background: transparent;
}
.search-result::-webkit-scrollbar-thumb
{
    background: #d3d3d3;
    border-radius: 3px;
}
.background-page.dark-mode .search-result::-webkit-scrollbar-thumb {
    background: #4f5a71;
}
.search-result li {
    height: 40px;
    /*background: red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dddddd;
    padding-left: 5px;
    cursor: pointer;
}
.background-page.dark-mode .search-result li {
    border-bottom-color: rgba(255, 255, 255, 0.18);
}
.search-result li:last-child {
    border-bottom: none;
}
.search-result li .iconify {
    opacity: .8;
    margin-right: -8px;
}
.search-result li:hover {
    border-color: #b3b3b3;
}

/* Theme changer */
.change-theme {
    @apply flex justify-between items-center relative;
    /*width: 100px;*/
    height: 48px;
    background: #f1f1f1;
    border-radius: 24px;
}
/* Dark mode options */
.background-page.dark-mode .change-theme {
    background: #2e3849;
}
.active-theme {
    @apply absolute left-0 top-1/2 -translate-y-1/2 z-0 bg-blue-500 rounded-3xl;
    height: 48px;
    width: 48px;
    transition: .7s;
}
/* Dark mode options */
.background-page.dark-mode .active-theme {
    transform: translate(48px, -50%);
}
.light-theme,
.dark-theme {
    @apply flex justify-center items-center cursor-pointer;
    height: 48px;
    width: 48px;
    z-index: 1;
}
.light-theme {
    color: white;
    transition: 1.2s;
}
.dark-theme {
    transition: .5s;
}
.light-theme:hover {
    transform: rotateZ(180deg);
}
.dark-theme:hover {
    transform: rotateZ(-30deg);
}
.change-theme .iconify {
    pointer-events: none;
}

/* Today's date on header */
.today-date {
    @apply flex flex-col items-end;
}
.today-date div {
    font-size: 22px;
}
.today-date div span {
    @apply font-medium opacity-80 ml-0.5;
}
.today-date > span {
    font-size: 17px;
    @apply font-medium opacity-65;
}

/* Bottom side with all weather info */
.weather-dashboard {
    @apply w-full h-[calc(100%-110px)] flex;
}

/* Current weather information back */
.current-weather-back {
    width: 390px;
    @apply h-full overflow-y-auto flex flex-col px-9;
    background: #ffffff;
    /*border-color: #f1f1f1;*/
}
/* Dark mode options */
.background-page.dark-mode .current-weather-back {
    background: #1D222D;
    color: white;
}
.current-weather-back::-webkit-scrollbar {
    width: 5px;
}
.current-weather-back::-webkit-scrollbar-track
{
    background: transparent;
}
.current-weather-back::-webkit-scrollbar-thumb
{
    background: #d3d3d3;
    border-radius: 3px;
}
/* Dark mode options */
.background-page.dark-mode .current-weather-back::-webkit-scrollbar-thumb {
    background: #4f5a71;
}

/* Current weather */
.current-weather {
    @apply flex justify-center box-content gap-7 mt-5;
}

/* Current weather part */
.current-weather-icon {
    @apply w-1/2 object-contain;
}
.current-temp {
    font-size: 50px;
    font-weight: 900;
    @apply flex flex-col;
}

/* Curr weather temperature details */
.temp-detail {
    @apply flex items-start gap-2;
}
.temp-detail img {
    height: 22px;
}
.temp-detail span {
    @apply font-medium opacity-80;
}

/* Divider */
.background-page.dark-mode hr {
    opacity: .25;
}

/* Current date */
.current-date div {
    font-size: 25.5px;
    margin-top: 8px;
}
.current-date > span {
    font-size: 16.5px;
    @apply font-medium opacity-55;
}
.current-date div span:first-child {
    @apply font-black;
}
.current-date div span:last-child {
    @apply font-medium opacity-55;
}

/* Current weather details */
.weather-details {
    @apply w-full mt-7;
}
.weather-details > span {
    font-size: 16.5px;
    @apply font-medium opacity-55;
}
.detail-item {
    height: 60px;
    background: #e9f3fd;
    @apply w-full flex items-center px-6 gap-4 rounded-xl;
}
/* Dark mode options */
.background-page.dark-mode .detail-item {
    background: #282f3e;
}
.detail-item img {
    width: 35px;
}
.detail-item-span {
    @apply mb-0.5 font-medium opacity-90;
}

/* Right sight, weather suggestions */
.weather-suggestions {
    @apply w-[calc(100%-390px)] pl-10 py-12 flex flex-col justify-between overflow-y-auto;
}
.weather-suggestions::-webkit-scrollbar {
    width: 7px;
}
.weather-suggestions::-webkit-scrollbar-track
{
    background: transparent;
}
.weather-suggestions::-webkit-scrollbar-thumb
{
    background: #b1b1b1;
    border-radius: 4px;
}
/* Dark mode options */
.background-page.dark-mode .weather-suggestions::-webkit-scrollbar-thumb {
    background: #4f5a71;
}
.suggestion-item {
    @apply w-full;
}

/* Title and Navigation */
.title_nav {
    @apply flex justify-between items-center pr-10;
}
.title_nav span {
    @apply font-medium text-xl;
}
.swiper-navigation {
    @apply flex items-center gap-2;
}
.weekly-nav-prev,
.weekly-nav-next,
.additions-nav-prev,
.additions-nav-next {
    width: 34px;
    height: 34px;
    transition: .2s;

    @apply rounded-3xl flex justify-center items-center;
}
/* Dark mode options */
.background-page.dark-mode .weekly-nav-prev,
.background-page.dark-mode .additions-nav-prev {
    border-color: white;
}
.swiper-navigation button .iconify {
    transform: rotate(225deg);
    @apply cursor-pointer;
}
.swiper-navigation button:nth-child(2) .iconify {
    transform: rotate(45deg);
}

/* Swiper */
.swiper {
    width: 100%;
}
.forecast-swiper {
    margin-bottom: 50px;
}
.swiper-wrapper {
    padding-top: 20px;
    align-items: end;
}
.swiper-slide {
    @apply !w-fit !h-fit;
}
.swiper-slide:last-child {
    margin-right: 40px;
}

/* Weather card */
.weather-card {
    width: 160px;
    height: 185px;

    border-radius: 22px;
    padding: 20px 25px;

    transition: transform .3s;

    @apply flex flex-col justify-between bg-white box-content cursor-pointer;
}
/* Dark mode options */
.background-page.dark-mode .weather-card {
    background: #252b39;
}
.weather-card:hover,
.background-page.dark-mode .weather-card:hover {
    transform: translateY(-8px);
}
.weather-card > span:first-child {
    font-size: 18px;
    font-weight: 600;
}
.weather-card img {
    width: 125px;
    object-fit: contain;
    margin: 6px auto;
}
.weather-card.today img {
    width: 145px;
    object-fit: contain;
    margin: 0 auto 5px;
}
.weather-card div span {
    font-size: 22px;
}

.additional-details {
    @apply flex items-end gap-5
}

/* Sunrise & Sunset */
.sun-rise-set-back {
    @apply w-fit flex items-center bg-white font-medium;

    height: 120px;

    border-radius: 22px;

    gap: 70px;
    padding: 0 35px;
}
.rise-set-detail {
    @apply flex items-center;
    gap: 15px;
}
.rise-set-detail-text {
    @apply flex flex-col;

    margin-top: 8px;
    gap: 2px;
}
.rise-set-detail-text span:last-child {
    font-size: 17px;
}
.rise-set-detail img {
    width: 55px;
    object-fit: contain;
}

/* Additional detail */
.add-detail {
    @apply w-fit flex bg-white gap-2.5 font-medium;

    height: 120px;
    padding: 20px 15px 20px 25px;
    border-radius: 22px;
}
.add-detail-text {
    @apply flex flex-col;
}
.add-detail-text span:last-child {
    font-size: 22px;
    font-weight: 600;
}
.add-detail img {
    width: 60px;
    object-fit: contain;
    margin-bottom: -30px;
}

.background-page.dark-mode .sun-rise-set-back,
.background-page.dark-mode .add-detail {
    background: #252b39;
}