@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font-family */
@font-face {
    font-family: Satoshi;
    src: url("/assets/fonts/Satoshi-Variable.ttf");
}

/* Loading page */
.loading-page {
    @apply w-full h-screen flex flex-col justify-center items-center;
}
.loading-page img {
    width: 90px;
    margin-bottom: 5px;
}
.loading-page span {
    font-size: 17px;
    font-weight: 500;
}

/* Background */
.background-page {
    background: #f4f4f4;
    @apply w-full h-screen font-satoshi font-normal;
}

/* Header */
header {
    height: 110px;
    @apply w-full bg-white pr-9 flex items-center justify-between;
}

/* Logotype */
.logo {
    height: 110px;
    @apply flex justify-start items-center gap-3.5 relative pl-9 mr-16;
}
.logo img {
    width: 42px;
}
.logo span {
    font-size: 25px;
}

/* Current location */
.current-location {
    @apply flex items-end;
    gap: 6px;
}
.current-location .iconify {
    @apply text-blue-500;
}
.current-location span {
    font-size: 18px;
    opacity: .9;
}

/* Search */
.search {
    width: 400px;
    margin-right: 90px;
    position: relative;
}
.search input {
    width: 100%;
    height: 50px;

    border-radius: 24px;
    border: 1px solid #d6d6d6;
    background: #fbfbfb;

    padding: 0 66px;
    margin: 30px 0;

    font-size: 15.5px;
}
.search input:focus {
    @apply outline-none border-blue-400;
}
.search-input:focus + .icon-wrapper .iconify {
    @apply text-blue-400;
}
.icon-wrapper {
    height: 20px;
    @apply absolute left-0 top-1/2 -translate-y-1/2 ml-9;
}
.icon-wrapper .iconify {
    color: #aaadb8;
}
.search-result {
    @apply w-full absolute top-0 left-0 rounded-2xl z-10;

    border: 1px solid #d6d6d6;
    background: #fbfbfb;

    margin-top: 90px;
    padding: 10px 24px 5px;

    max-height: 290px;
    overflow-y: auto;
}
.search-result::-webkit-scrollbar {
    width: 5px;
}
.search-result::-webkit-scrollbar-track
{
    background: transparent;
}
.search-result::-webkit-scrollbar-thumb
{
    background: #d3d3d3;
    border-radius: 3px;
}
.search-result li {
    height: 40px;
    /*background: red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dddddd;
    padding-left: 5px;
    cursor: pointer;
}
.search-result li:last-child {
    border-bottom: none;
}
.search-result li .iconify {
    opacity: .8;
    margin-right: -8px;
}
.search-result li:hover {
    border-color: #b3b3b3;
}

/* Today's date on header */
.today-date {
    @apply flex flex-col items-end;
}
.today-date div {
    font-size: 22px;
}
.today-date div span {
    @apply font-medium opacity-80 ml-0.5;
}
.today-date > span {
    font-size: 17px;
    @apply font-medium opacity-65;
}

/* Bottom side with all weather info */
.weather-dashboard {
    @apply w-full h-[calc(100%-110px)] flex;
}

/* Current weather information back */
.current-weather-back {
    width: 390px;
    @apply h-full overflow-y-auto flex flex-col px-9;
    background: #ffffff;
    /*border-color: #f1f1f1;*/
}
.current-weather-back::-webkit-scrollbar {
    width: 5px;
}
.current-weather-back::-webkit-scrollbar-track
{
    background: transparent;
}
.current-weather-back::-webkit-scrollbar-thumb
{
    background: #d3d3d3;
    border-radius: 3px;
}

/* Current weather */
.current-weather {
    @apply flex justify-center box-content gap-7 mt-5;
}

/* Current weather part */
.current-weather-icon {
    @apply w-1/2 object-contain;
}
.current-temp {
    font-size: 50px;
    font-weight: 900;
}

/* Curr weather temperature details */
.temp-detail {
    @apply flex items-start gap-2;
}
.temp-detail img {
    height: 22px;
}
.temp-detail span {
    @apply font-medium opacity-80;
}

/* Current date */
.current-date div {
    font-size: 25.5px;
    margin-top: 8px;
}
.current-date > span {
    font-size: 16.5px;
    @apply font-medium opacity-55;
}
.current-date div span:first-child {
    @apply font-black;
}
.current-date div span:last-child {
    @apply font-medium opacity-55;
}

/* Current weather details */
.weather-details {
    @apply w-full mt-7;
}
.weather-details > span {
    font-size: 16.5px;
    @apply font-medium opacity-55;
}
.detail-item {
    height: 60px;
    background: #e9f3fd;
    @apply w-full flex items-center px-6 gap-4 rounded-xl;
}
.detail-item img {
    width: 35px;
}
.detail-item-span {
    @apply mb-0.5 font-medium opacity-90;
}

/* Right sight, weather suggestions */
.weather-suggestions {
    @apply w-[calc(100%-390px)] pl-10 pt-12;
}
.suggestion-item {
    @apply w-full;
}

/* Title and Navigation */
.title_nav {
    @apply flex justify-between items-center pr-10;
}
.title_nav span {
    @apply font-medium text-xl;
}
.swiper-navigation {
    @apply flex items-center gap-2;
}
.weekly-nav-prev,
.weekly-nav-next,
.cities-nav-prev,
.cities-nav-next {
    width: 34px;
    height: 34px;
    transition: .2s;

    @apply rounded-3xl flex justify-center items-center;
}
.swiper-navigation button .iconify {
    transform: rotate(225deg);
    @apply cursor-pointer;
}
.swiper-navigation button:nth-child(2) .iconify {
    transform: rotate(45deg);
}

/* Swiper */
.swiper {
    width: 100%;
}
.swiper-slide {
    width: fit-content !important;
    height: fit-content !important;
}
.swiper-slide:last-child {
    margin-right: 40px;
}

/* Weather card */
.weather-card {
    width: 160px;
    height: 185px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: white;
    box-sizing: content-box;
    border-radius: 22px;

    padding: 20px 25px;
}
.weather-card > span:first-child {
    font-size: 18px;
    font-weight: 600;
}
.weather-card img {
    width: 125px;
    object-fit: contain;
    margin: 6px auto;
}
.weather-card.today img {
    width: 145px;
    object-fit: contain;
    margin: 0 auto 5px;
}
.weather-card div span {
    font-size: 22px;
}

/* Other city card */
.other-city-card {
    border-radius: 22px;
    padding: 18px 30px;

    @apply w-fit flex items-center bg-white;
}
.other-city-card ul {
    margin-right: 50px;
}
.other-city-card ul li:first-child {
    font-size: 22px;
    font-weight: 500;
}
.other-city-location {
    @apply flex flex-col;
}
.other-city-location span:first-child {
    font-size: 22px;
    line-height: 1.2;
    font-weight: 500;
}
.other-city-location span:last-child {
    font-size: 17.5px;
    font-weight: 500;
    opacity: .85;
}
.other-city-card ul li:last-child {
    font-size: 16.5px;
    font-weight: 500;
    opacity: .7;
}
.other-city-card img {
    width: 85px;
    object-fit: contain;

    margin-right: 18px;
}
.other-city-card span {
    font-size: 42px;
    font-weight: 900;
}